# ==========================================
# MOVE SMART - CONFIGURACIÓN GENERAL
# ==========================================
=
PORT=
NODE_ENV=
=
=
# ==========================================
# MYSQL
# ==========================================
=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=
=
=
# ==========================================
# BASE DE DATOS
# ==========================================
=
USE_LOCAL_DB=
=
=
# ==========================================
# JWT
# ==========================================
=
JWT_SECRET=
=
=
# ==========================================
# CORS
# ==========================================
=
CORS_ORIGIN=